.row {
    max-width: 800px;
    margin: auto;
    border-bottom: 1px solid #e7e7e7;
}
.row .col {
    display: inline-block;
}
.row .col:first-child {
    width:30%;
}
.row .col:last-child {
    width:70%;
}