body{
    background: white;
    font-family: "Open Sans",Arial,sans-serif;
    margin: 0;
}
h1{
    color: blue;
}

.row {
    margin: auto;
    border-bottom: 1px solid #e7e7e7;
}
.row .col {
    display: inline-grid;
}
.row .col.col-lg-30 {
    width:30%;
}
.row .col.col-lg-70 {
    width:70%;
}