body{
    background: white;
    font-family: "Open Sans",Arial,sans-serif;
    margin: 0;
}
h1{
    color: blue;
}

.row {
    margin: auto;
    border-bottom: 1px solid #e7e7e7;
}
.row .col {
    display: inline-grid;
}

#__CONTENT {
    max-width:800px;
    margin:auto;
    padding: 40px;
}


@media screen and (max-width: 549px) {
    .row .col.col-lg-30 {
        width:100%;
    }
    .row .col.col-lg-70 {
        width:100%;
    }
}
@media screen and (min-width: 550px) {
    .row .col.col-lg-30 {
        width:30%;
    }
    .row .col.col-lg-70 {
        width:70%;
    }
}

select {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
}

button {
    color: #FFF;
    background-color: #e8972c;
    border-color: #e8972c;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 20px;
}
button:hover {
    opacity: 0.8;
}