#count-up-timer-textnode{
    font-weight: 600;
    font-size: 3em;
    display: block;
    position:relative;
}
#count-up-timer-textnode:after{
    content: '%';
    font-size: 0.3em;
    position: absolute;
    bottom: 50px;
    margin-left: 20px;
    font-weight: lighter;
}